[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
python-Levenshtein = "*"
pyparsing = "<=2.2"
prettytable = "*"
prompt-toolkit = "<=2"
pygments = "*"
dataclasses = "*"

[dev-packages]
nose = "*"
ipdb = "*"

[requires]
python_version = "3.6"
